@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;600;700&display=swap');

/* here are some created color variant, which are used all the website */
:root {
    --primary-color: #639ef1;
    --accent-color: #1b4da3;
    --text-color: #333333;
    --link-color: #3269e0;
    --background-color: #ffffff;
    --light-gray: #f0f0f0e8;
    --gray: #546072;
    --dark-gray: #534c4c;
}
*{
    padding: 0px;
    margin: 0px;
    font-family:'Inter',sans-serif;
    text-decoration:none;
}
body{
    height:100vh;
    text-align:center;
    background-color: var(--background-color);
    padding:0.4rem;
}

 /* Header content styling */
.header-content{
    max-width:1020px;
    display:flex;
    justify-content:space-between;
    margin:0 auto;
    align-items:center;
    padding:1rem;
    
}
.logo{
    display:flex;
    font-size:1.7rem;
    align-items:center;
    font-weight:bold;
    text-decoration:none;
    gap:0.3rem;
}

.logo-icon{
    height:37px;
    width:32px;
}

.logo-text{
    font-size:2rem;
    text-decoration:none;
    color:var(--text-color);
}
.logo-text:active {
    color:#FF4081;
}
.navbar{
    display:none;
    gap:1.5rem;
}
@media screen and (min-width:768px) {
    .navbar{
        display:flex;
    }
}

.nav-link{
    color:var(--gray);
    font-size:1.025rem;
    transform:color 0.135s;
    font-weight:450;
}

.nav-link:hover{
    color:var(--link-color);
}

.nav-link:active {
    color:#FF4081;
    transform: scale(0.98);
}

.contact-button{
    display:none;
    color:var(--background-color);
    background-color: var(--accent-color);
    border:none;
    border-radius:0.475rem;
    padding:0.57rem 1.5rem;
    transform:all 0.152s;
    font-size:0.9rem;
    font-weight:450;
}

.contact-button:hover{
    background-color: #245fc4;
}

.contact-button:active{
    background-color: #FF4081;
    color:var(--background-color);           
    transform: scale(0.98);
}
@media screen and (min-width:768px){
    .contact-button{
        display:block;
    }
}

.menu-button{
    display:none;
    border:none;
    border-radius:0.475rem;
    background-color: var(--background-color);
    font-size:0.9rem;
    font-weight:450;
    padding:0.57rem 0.9rem;
}
@media screen and (max-width:768px){
    .menu-button{
        display:block;
    }
}
.menu-icon{
    height:1.5rem;
    width:1.5rem;
}
.content{
    padding:2rem 0;
}
/* Main section style start */
.main-section{
    max-width:1020px;
    display:flex;
    flex-direction:column;
    gap:1.5rem;
    padding:1rem;
    align-items:center;
    margin: 0 auto;
}
.content-left{
    display:flex;
    flex-direction:column;
    text-align:left;
    animation:contextshow 0.5s ease forwards;
    opacity:0;
    gap:1rem;
}
@keyframes contextshow {
    0%{
        opacity:0;
        transform:translateX(-100%);
    }
    100%{
        opacity:1;
        transform:translateX(0);
    }
}
.section-label{
    color:#3269e0;
    font-weight:500;
    font-size:1.05rem;
}
.section-title{
    font-size:2rem;
    color:black;
}
.section-description{
   
    font-size:1rem;
    color:#363b43;
}
.button-group{
    display:flex;
    gap:2rem;
    padding:1rem;
    margin-top:1rem;
    align-items:center;
    justify-content:center;
}
.start-button,.take-tour-button{
    color:var(--background-color);
    background-color:var(--gray);
    border:none;
    border-radius:0.475rem;
    padding:0.57rem 1.5rem;
    transform:all 0.152s;
    font-size:0.9rem;
    font-weight:450;
}
.start-button{
    background-color:var(--accent-color);
}
.start-button:hover,.take-tour-button:hover{
    background-color: #000080;
    color:#ffffff;
}
.start-button:active,.take-tour-button:active{
    color:var(--background-color);
    background-color: #FF4081;
    transform:scale(0.98);
}
.content-right{
    display:flex;
    align-items:center;
    justify-content:center;
}
.image-conteiner{
    border:none;
    border-radius:1.25rem;
    overflow:hidden;
    box-shadow:0px 4px 8px rgba(0,0,0,0.1);
    height:56vh;
    width:50vw;
}
.content-image{
    height:100%;
    width:100%;
}
@media screen and (min-width:768px) {
    .main-section{
        flex-direction:row;
        gap:7.5rem;
    }
    .content-left{
        max-width:50%;
        text-align:left;
    }
    .button-group{
        justify-content:start;
        padding-left:0;
    }
    .section-label{
        font-size:1rem;
        font-weight:700;
    }
    .section-title{
        font-size:2.3rem;
    }
    .section-description{
        text-align:justify;
        font-size:1.12rem;
        max-width:90%;
    }
    .image-conteiner{
        height:60vh;
        width:30vw;
    }
}
.company-conteiner{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:1rem;
    padding:1rem;
    /* margin-top:2rem; */
    animation:contextshow 0.5s ease forwards;
}
.company-grid{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:3rem;
    padding:1.6rem 2rem;
    background-color:var(--light-gray);
    border:none;
    border-radius:0.51rem;
    margin-top:0.8rem;
}
.company-logo{
    font-size:1rem;
    font-weight:500;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:0.5rem;
}
.logo-image{
    height:1.4rem;
}
.company-logo-text{
    font-size:1rem;
    color:var(--gray);
}

@media screen and (min-width:640px) {
    .company-grid{
        grid-template-columns:repeat(4,1fr);
        padding:1.1rem 2rem;
        border-radius:0.5rem;
    }
    .comapany-conteiner-heading{
        font-size:1.5rem;
        font-weight:bold;
    }
    .company-conteiner{
        gap:0.8rem;
    }
}